<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
  body {
    margin:20px;
  }
  h1 {
    font-weight: 700;
  }
</style>

<body>


<h1>Random Squirrels <a target="_blank" href="https://github.com/bananatron/RandomSquirrel"><img src="http://www.andrewbaisden.com/images/a78b7125.github-icon.svg" /></a></h1>
<br>

  <h3><a target="_blank" href="/squirrel">/squirrel</a></h3>
  <p>Pulls a random squirrel from <b>sugarbushsquirrel.com</b>. <br>This is a live request so we can only hope that sugarbush gets updated with the frequency it deserves.</p>
  
  <h3><a target="_blank" href="/images/www.google.com">/images/%url without http%</a></h3>

  <p>Tries to find a random image on the page, but mostly fails. Replace any slashes in the URL with <code>*</code>.</p>

</body>

</html>